*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(4, 17, 22) !important;
    color: white;
}
.cust__primary{
    color: rgb(90, 47, 245);
}
.cust__primary__nav{
    color: rgb(242, 239, 255,0.95);
}
.cust__white{
    color: white;
}
.cust__sec__white{
    color: rgb(235, 246, 255);
}
.cust__black{
    color: black;
}
.navbar-collapse{
    justify-content: flex-end;
}
.cust__bg{
    background: url(images/bg-main.jpg);
    min-height: 50vh;
}
.cust__sec__bg__black{
    background: rgb(90, 74, 146);
}
.grid__section{
    color: rgb(4, 17, 22);
}
.card__img{
    overflow: hidden;
    max-width: 100%;
    border-radius: 4px;
}


@media screen and (max-width:768px) {
    
    .cust__md__row{
        flex-direction: column;
    }
    .card{
        width: 80%;
        margin: 0 auto;
        padding: .5rem .5rem 1rem .5rem;
    }
    .cust__sub__head{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .cust__col__md{
        margin-bottom: 1.5em;
    }

    
}