*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(4, 17, 22) !important;
    color: white;
}
.cust__primary{
    color: rgb(90, 47, 245);
}
.cust__white{
    color: white;
}
cust__sec__white{
    color: rgb(235, 246, 255);
}
.cust__black{
    color: black;
}
.navbar-collapse{
    justify-content: flex-end;
}
.cust__bg{
    background: url(images/bg-main.jpg);
    min-height: 50vh;
}
.cust__sec__bg__black{
    background: rgb(90, 74, 146);
}
.grid__section{
    color: rgb(4, 17, 22);
}
.card__img{
    overflow: hidden;
    max-width: 100%;
    border-radius: 4px;
}